.tableFooter {
  margin: 40px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  .tableFooter--button {
    padding: 12px 14px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin: 0 10px;
    cursor: pointer;

    &.activeButton {
      background: #000;
      color: #fff;
    }
    
    &.desactiveButton {
      background: #fff;
      color: #000;
      // border: none;
    }
    
    &.desactiveButton:hover {
      transform: scale(1.1);
      transition: ease 0.5s;
    }
  }


}
