.activities {
  display: flex;
  width: 100%;
  

  .activities__container {
    flex: 8;
    background-color: var(--background);

    .activities__info {
      & > a {
        text-decoration: none;
      }
    }

    .activities__title {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 15px;
      margin: 40px 15px 0 15px;

      .activities__estado {
        // border: 1px solid #000;
        & > p {
          border: 1px solid #444;
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          font-size: 15px;
        }
      }

      .activities__add {
        & svg {
          color: var(--primary-color);
        }
      }

    
    }
  }
  

}