.modal {
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.modal__container {
  /* root */
  background-color: var(--background);
  width: 900px;
  /* padding: 10px 20px; */
  height: auto;
  margin: 14vh auto 10vh;
  position: relative;
  border-radius: 10px;
}

.modal__title {
  /* root */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 20px 50px;
  color: var(--text-title);
}

.modal--button {
  /* root */
  width: 35px;
  height: 35px;
  color: #fff;
  display: block;
  /* margin-bottom: 16px; */
  border: 1px solid var(--text-color);
  color: var(--text-color);
  /* padding: 15px; */
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.modal--button:hover {
  /* root */
  border: 1px solid var(--primary-color);
  background: var(--background);
  color: var(--primary-color);
}