.sidebar {
  background-color: var(--primary-color);
  flex: 2;
  border-right: 1px solid #fff;
  min-height: 100vh;
}

.sidebar__header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.sidebar__headerLogo > img {
  width: 250px;
  height: 80px;
}

.sidebar__usuario {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  padding-left: 20px;
}

.item--avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
}

.usuario__container {
  padding: 20px;
}

.usuario__container > p {
  margin-top: 10px;
  color: var(--text-title);
  font-weight: 500;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

ul > a {
  /* padding: 30px; */
  width: 100%;
  text-decoration: none;
}

li {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

li:hover {
  background-color: var(--background);
}

svg {
  font-size: 30px;
  color: var(--text-color);
}

span {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 10px;
  margin-left: 15px
}

.sidebar__footer {
  display: flex;
  align-items: center;
  margin: 10px;
}

.link-active {
  background-color: var(--background);
}
