.addSolicitud {
  display: flex;
  width: 100%;
  

  .addSolicitud__container {
    flex: 8;
    background-color: var(--background);

    .addSolcitiud__head {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px 40px;
      margin: 40px 150px;
      text-align: center;
      color: var(--text-color);
    }

    .addSolicitud__form {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px 40px;
      margin: 40px 150px;

      .addSolicitud__formRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px;

        .addSolicitud__formInput {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;

          & > label {
            margin-bottom: 8px;
            color: var(--text-head);
            font-weight: 500;

            & > span {
              color: red;
              // text-align: center;
            }
          }

          & > input {
            padding: 10px 5px;
            color: var(--text-input);
            outline: none;
            border-radius: 8px;
            border: 1px solid rgb(159 159 159);
            background-color: var(--background-input);
          }

          & > select {
            padding: 10px 5px;
            background-color: var(--background-input);
            border: 1px solid rgb(159 159 159);
            outline: none;
            border-radius: 5px;
            color: var(--text-input);
          }
        }
      }

      .addSolicitud__button {
        
        display: flex;
        // text-align: center;
        justify-content: center;
        gap: 50px;
        padding: 20px;


        & > button {
          cursor: pointer;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 16px;
        }

        & > button:nth-child(1) {
          background-color: var(--primary-color);
          border: 1px solid var(--primary-color);
          color: var(--text-color);
        }

        & > button:nth-child(2) {
          background-color: var(--background);
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
        }
      }
    }
  }
}